html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background: #ffc600;
}
header h1{
    margin: 0 auto;
    font-size: 5em;
    text-align: center;
}
#controls{
    display: flex;
    padding-bottom: 20px;
}

/* *code for the photo image*/
#feeds{
    display: flex;
    justify-content: space-around;
}
.photo {
    border: 2px solid black;
}
/* *live video feed*/
.player {
    border: 2px solid blue;
}

/*
    Strip!
  */
.strip {
    padding: 2rem;
}

.strip img {
    width: 100px;
    overflow-x: scroll;
    padding: 0.8rem 0.8rem 2.5rem 0.8rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: white;
}

.strip a:nth-child(5n+1) img {
    transform: rotate(10deg);
}

.strip a:nth-child(5n+2) img {
    transform: rotate(-2deg);
}

.strip a:nth-child(5n+3) img {
    transform: rotate(8deg);
}

.strip a:nth-child(5n+4) img {
    transform: rotate(-11deg);
}

.strip a:nth-child(5n+5) img {
    transform: rotate(12deg);
}